<h2>Por País</h2>
<hr />

<div class="row">
  <div class="col">
    <app-pais-input
      [placeholder]="placeholder"
      (onDebounce)="recebeOnDebounce($event)"
      (onEnter)="pesquisarRecebe($event)"
    ></app-pais-input>
  </div>
</div>

<div class="row">
  <div class="col">
    <ul class="list-group">
      <li #sugeridos
        class="list-group-item list-group-item-action"
        *ngFor="let p of paisesSugeridos; let i = index"
        (click)="pesquisaSugerida(p.name)"
      >
        {{ p.name }}
      </li>
    </ul>
  </div>
</div>

<hr />
<div *ngIf="errorMsg" class="alert alert-danger" role="alert">
  Não foi encontrado nenhum pais com sua pesquisa...
</div>

<div class="row" *ngIf="paises.length > 0">
  <div class="col">
    <app-pais-table [paises]="paises"></app-pais-table>
  </div>
</div>
